@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --clr-brand: #9771f3;
  --clr-brand-hover: #662eed;
  --clr-main: #fc709b;
  --clr-secondary: #6fdae7;
  --clr-tertiary: #fdd14f;
  --clr-accent: #fbf9ff;
  --clr-highlight: #f5f2fe;
  --clr-background: #ffffff;
  --clr-font: #000000;

  --fnt-body: "Lato", sans-serif;
  --fnt-link: "Source Code Pro", monospace;

  --fnt-sz-small: 25px;
  --fnt-sz-medium: 40px;
  --fnt-sz-large: 90px;

  --rds-subtle: 10px;
  --rds-round: 25px;
  --rds-circular: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fnt-body);
}

a {
  font-family: var(--fnt-link);
  text-decoration: none;
  color: var(--clr-brand);
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: var(--fnt-sz-large);
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: var(--fnt-sz-medium);
  line-height: 2rem;
  font-weight: 700;
}

h3 {
  font-size: var(--fnt-sz-small);
  font-weight: 400;
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  margin-bottom: 0;
}

.weatherAppContainer {
  display: block;
  margin: 10px auto;
  padding: 40px;
  max-width: 900px;
  background-color: var(--clr-highlight);
  border: none;
  border-radius: var(--rds-subtle);
}

.searchForm {
  padding: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.searchContainer {
  display: inline-block;
}

.searchInput {
  padding: 10px 15px;
  width: max(50%, 700px);
  border: none;
  border-radius: var(--rds-subtle);
  outline: none;
}

.searchButton {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: var(--rds-round);
  background-color: var(--clr-brand);
  color: var(--clr-background);
  transition: all 150ms ease-in-out;
}

.searchButton:hover {
  background-color: var(--clr-brand-hover);
}

.weatherInfo {
  margin: 15px 30px;
}

.weatherDescription {
  text-align: center;
}

.iconBig {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.temperatureDisplay {
  font-size: var(--fnt-sz-large);
  line-height: 5rem;
  text-align: center;
}

.temperatureDisplay .unitButton {
  display: inline;
  margin-left: 10px;
  padding: 10px 15px;
  border: 1px solid var(--clr-brand);
  border-radius: var(--rds-circular);
  color: var(--clr-brand);
  background-color: var(--clr-background);
  font-size: var(--fnt-sz-small);
  vertical-align: middle;
  transition: all 150ms ease-in-out;
}

.temperatureDisplay .unitButton:hover {
  color: var(--clr-background);
  background-color: var(--clr-brand);
}

.footer {
  margin-top: 10px;
  text-align: center;
}

.footer p {
  font-family: var(--fnt-link);
}
