@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --clr-brand: #9771f3;
  --clr-brand-hover: #662eed;
  --clr-main: #fc709b;
  --clr-secondary: #6fdae7;
  --clr-tertiary: #fdd14f;
  --clr-accent: #fbf9ff;
  --clr-highlight: #f5f2fe;
  --clr-background: #ffffff;
  --clr-font: #000000;

  --fnt-body: "Lato", sans-serif;
  --fnt-link: "Source Code Pro", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: var(--fnt-body);
  color: var(--clr-font);
}

a {
  font-family: var(--fnt-link);
  text-decoration: none;
  color: var(--clr-brand);
}

a:hover {
  text-decoration: underline;
  color: var(--clr-brand-hover);
}

.footer {
  text-align: center;
}

.footer p {
  font-family: var(--fnt-link);
}
