@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --clr-brand: #9771f3;
  --clr-brand-hover: #662eed;
  --clr-main: #fc709b;
  --clr-secondary: #6fdae7;
  --clr-tertiary: #fdd14f;
  --clr-accent: #fbf9ff;
  --clr-highlight: #f5f2fe;
  --clr-background: #ffffff;
  --clr-font: #000000;

  --fnt-body: "Lato", sans-serif;
  --fnt-link: "Source Code Pro", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: var(--fnt-body);
  color: var(--clr-font);
}

a {
  font-family: var(--fnt-link);
  text-decoration: none;
  color: var(--clr-brand);
}

a:hover {
  text-decoration: underline;
}

.weatherAppContainer {
  display: flex;
  margin: 10px auto;
  padding: 40px;
  max-width: 900px;
  background-color: var(--clr-highlight);
  border: none;
  border-radius: 10px;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.searchInput {
  display: inline-block;
  padding: 10px 15px;
  width: max(50%, 700px);
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: var(--fnt-body);
}

.searchButton {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  background-color: var(--clr-brand);
  color: var(--clr-background);
  font-family: var(--fnt-body);
  transition: all 150ms ease-in-out;
}

.searchButton:hover {
  background-color: var(--clr-brand-hover);
}

.footer {
  margin-top: 10px;
  text-align: center;
}

.footer p {
  font-family: var(--fnt-link);
}
